asgiref==3.7.2
Babel==2.12.1
boto3==1.26.146
botocore==1.29.146
CacheControl==0.13.1
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
Django==3.2.19
django-extensions==3.2.3
django-extra-views==0.14.0
django-haystack==3.2.1
django-phonenumber-field==6.4.0
django-storages==1.13.2
django-tables2==2.3.4
django-treebeard==4.7
django-widget-tweaks==1.4.12
custom-shop @ git+https://github.com/yksmbkkr/django-custom-shop.git
factory-boy==3.2.1
Faker==18.9.0
firebase-admin==6.1.0
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
httplib2==0.22.0
idna==3.4
jmespath==1.0.1
MarkupSafe==2.1.3
msgpack==1.0.5
phonenumbers==8.13.11
Pillow==9.5.0
proto-plus==1.22.2
protobuf==4.23.2
purl==1.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycountry==22.3.5
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
rsa==4.9
s3transfer==0.6.1
six==1.16.0
sorl-thumbnail==12.6.3
sqlparse==0.4.4
typing_extensions==4.6.2
uritemplate==4.1.1
urllib3==1.26.16
Werkzeug==2.3.6
